.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 10px;
}


.left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-left: 5%;
}

.left img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.words{
    border-left: 1px solid rgb(80, 80, 32);
    padding: 10px;
    color: white;
    letter-spacing: 3px;
    font-size: 16px;
    font-weight: 500;
}


.right{
    margin-right: 5%;
}
.course{
    padding: 10px;
    font-size: 17px;
    color: black;
    background: rgb(145, 145, 54);
    border-radius: 10px;
    font-weight: 600;
}

@media screen and (max-width: 400px){
    .left img{
        margin-top: 13%
    }
    .right{
        margin-right: 0;
    }
}